<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mm">

	<select id="selectList" resultType="mem">
	select * from baseballmember where grade = 'user'
	</select>
	
	<select id="selectDetail" resultType="mem" parameterType="mem">
	select * from baseballmember where userid = #{userid}
	</select>
	
	<insert id="insertOne" parameterType="mem">
	insert into baseballmember (userid, nick ,name, birth, address, phone, 
	receivemail, preferTeam, password,oriname,sysname, grade) values
	 (#{userid}, #{nick} ,#{name}, #{birth}, #{address},#{phone}, 
	#{receivemail},#{preferTeam}, #{password},#{oriname},#{sysname},#{grade})
	</insert>
	
	<delete id="delete" parameterType="mem">
   		delete from baseballmember where userid = #{userid}
   </delete>
   
    <select id="idPwChk" resultType="mem" parameterType="mem">
   		select * from baseballmember where userid = #{userid} and password = #{password}
   </select>
   
   <update id="fileDelete" parameterType="mem">
   		update baseballmember set sysname = null, oriname=null where userid = #{userid}
   </update>
	
   <delete id="modify" parameterType="mem">
   		update baseballmember set nick = #{nick} , name = #{name} , password = #{password},
   		oriname = #{oriname}, sysname = #{sysname} , birth = #{birth} , address = #{address} ,
   		phone = #{phone} ,receivemail = #{receivemail} ,preferTeam = #{preferTeam}, grade = #{grade} where userid = #{userid}
   </delete>
	
	
	<!-- <select id="loginCheck" resultType="mem" parameterType="mem">
		select * from baseballmember where userid = #{userid} and password = #{password}
	</select> -->
	
	<select id="findId" resultType="mem" parameterType="mem">
		select * from baseballmember where name = #{name} and phone = #{phone}
	</select>
	
	<select id="findPw" resultType="mem" parameterType="mem">
		select * from baseballmember where userid = #{userid} and name = #{name} and phone = #{phone}
	</select>
</mapper>